@font-face {
  font-family: "Title";
  src: url("../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Text";
  src: url("../font/Poppins-Regular.ttf");
}

:root {
  --light-grey: #f6f7f8;
  --white: #ffffff;
  --blue-detail: #3498db;
  --blue-detail-hover: #2980b9;
  --red-detail: #ff3d3b;
  --red-detail-hover: #f10e0c;
  --dark: #3d4053;
  --shadow: #3d40532d;
  --button-hover: #fbfbfb;

  font-family: "Text";
}

body {
  background-color: var(--blue-detail-hover);
  color: var(--dark);
}

.container {
  max-width: 85%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Title";
}

h1 {
  text-align: center;
  padding: 2rem 0;
  border-bottom: solid blue;
}

.v-flex {
  display: flex;
  align-items: center;
}

.panel {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--shadow);
  padding: 5rem 3rem;
  margin-top: 3rem;
}

.panel .button-wrapper {
  margin-left: 0.1rem;
}

.tab {
  text-align: center;
  color: var(--blue-detail);
  font-weight: 500;
  background-color: var(--white);
  border: 1px solid var(--shadow);
  width: 200px;
  padding: 0.8rem 0;
  justify-content: center;
  position: relative;
  margin-top: 0.5rem;
}

.tab:hover {
  text-decoration: none;
  background-color: var(--button-hover);
}

.tab.active {
  border-bottom: 2px solid var(--blue-detail);
}

.tab ion-icon {
  position: absolute;
  left: 1rem;
  font-size: 1.2rem;
}

.panel .vid {
  background-color: var(--light-grey);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: none;
}

.panel form {
  position: relative;
  bottom: 0;
}

input[type="submit"] {
  background: var(--red-detail);
  border: none;
  padding: 0.5rem 2rem;
  color: var(--white);
  font-weight: 500;
}

#webcamform {
  margin-left: 1rem;
}

#webcamform img {
  border-radius: 30px;
  width: 50%;
}

.webcam-control {
  display: flex;
  border: 1px solid var(--shadow);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: var(--blue-detail);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.webcam-control:hover {
  background-color: var(--button-hover);
}

.spacer {
  width: 100%;
  height: 3rem;
}

.music-player {
  position: fixed;
  width: 100%;
  background-color: var(--dark);
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  color: var(--light-grey);
}

.music-player ion-icon {
  font-size: 1rem;
  color: var(--light-grey);
  margin-right: 0.5rem;
  cursor: pointer;
}

.music-player .container {
  display: flex;
  justify-content: space-between;
}

#video {
  border-radius: 0;
  background: white;
  height: 400px;
  padding-top: 5%;
}

/* Media Queries */

@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    background: var(--white);
  }
  .container {
    max-width: 95%;
  }
  h1 {
    text-align: left;
  }
  .panel {
    box-shadow: none;
    margin-top: 0;
    padding: 0;
  }
  .tab {
    width: 180px;
  }

  #video {
    margin-top: 50px;
    background: white;
  }
}
